td {
  border: 1px solid #8692c4;
  width: 25px;
  height: 25px;
}

input {
  width: inherit;
  height: inherit;
  text-align: center;
  border-style: hidden;
}

.filled {
  background-color: #08133e;
}

.circled input {
  border: 1px solid #08133e;
  border-radius: 50%;
}

.shaded {
  background-color: #b5bee4ae;
}

.selected {
  background-color: #bec7e7;
}

.selected input {
  background-color: #bec7e7;
}

td span {
  position: absolute;
  z-index: 100;
  margin: 0px;
  padding: 0px;
  font-size: 0.4rem;
}
