td {
    border: 1px solid #08133E;
    width: 25px;
    height: 25px;
}

input {
    width: inherit;
    height: inherit;
    text-align: center;
    border-style: hidden;
}

.filled {
    background-color: #08133E;
}

.selected {
    background-color: #bec7e7;
}

.selected input {
    background-color: #bec7e7;
}

.circled input {
    border: 1px solid #08133E;
    border-radius: 50%;
}